@{
    ViewData["Title"] = "Home Page";
}

<div id="MyInstagramContainer" class="text-center">

</div>

<script src="~/js/moment.js" type="text/javascript"></script>
<script src="~/js/Index.js"></script>