<div>
    <form method="post" action="/Home/Register">
        <table>
            <tbody>
                <tr>
                    <td>
                        <label for=" First Name">First Name:</label>
                    </td>
                    <td>
                        <input id="FirstName" type="text"
                               placeholder="Add your First Name"
                               name="UserName" />
                        <label for=" Last Name">Last Name:</label>
                        <input id="Last Name" type="Last Name"
                               placeholder="Add your Last Name"
                               name="Password" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for=" Gender">Gender:</label>
                    <td>
                        <input type="radio" id="Gender 1"
                               name="Gender" value="Male"
                        <lable for="Gender 1">Male</lable>

                        <input type="radio" id="Gender 2"
                               name="Gender" value="Female"
                        <lable for="Gender 2">Female</lable>

                        <input type="radio" id="Gender 3"
                               name="Gender" value="No response"
                        <lable for="Gender 3">Prefer not to respond</lable>

                    </td>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for=" Email Address">Email Address:</label>
                    </td>
                    <td>
                        <style>
                            table, td {
                                border: 80px;
                            }
                        </style>
                        <input id="Email Address" type="text" size="54px"
                               placeholder="Add your Email Address"
                               name="email" />
                    </td>
                </tr>
                <tr>
                    <td>
                <tr>
                    <td>
                        <label for=" Country">Country of Residence:</label>
                    <td>

                        <select name="Country" id="Country select" style="width: 412px;"> 
                            <option value="USA"> USA</option>
                            <option value="Mexico"> Mexico</option>
                            <option value="Canada"> Canada</option>
                        </select>
                    </td>
                </tr>

                </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <button>Update User Information</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
